/* Default page color */
body {
    background-color: black;
    font-family: Verdana, sans-serif; /* Add Verdana font */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Add text alignment */    
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Add text alignment */
}

/* Paragraph style */
p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    text-align: center; /* Add text alignment */
}

/* Heading style */
h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center; /* Add text alignment */
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
    text-align: center; /* Add text alignment */    
}

h3 {
    font-size: 21px;
    font-weight: normal;
    color: grey;
    text-align: center; /* Add text alignment */
}

h3.right {
    font-size: 21px;
    font-weight: normal;
    color: grey;
    text-align: right; /* Add text alignment */
}

/* Link style */
a {
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
    text-align: center; /* Add text alignment */
}

a:hover {
    text-decoration: none;
}

.center-link {
    display: flex;
    justify-content: center;
    align-items: center;
}